<div class="container">
<h2>2016 NH Democratic Primary Poll</h2>
<div class="circle-chart html">
    <div class="text">
        <h2>Bernie Sanders</h2>
        <span class="chart-data">57.7</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
         
     </g>
    </svg>
</div>

<div class="circle-chart css">
    <div class="text">
        <h2>Hilary Clinton</h2>
        <span class="chart-data">41.9</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
<div class="circle-chart css">
    <div class="text">
        <h2>Martin O'Malley</h2>
        <span class="chart-data">2.3</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
    <p class="source"><em>Data retrieved from <a href="http://elections.huffingtonpost.com/pollster/2016-new-hampshire-presidential-democratic-primary" target="_blank">Huffington Post</a> on 24 Jan, 2016</em></p>
</div>