<div class="container">
<h2>2016 NH Republican Primary Poll</h2>
<div class="circle-chart html">
    <div class="text">
        <h2>Donald Trump</h2>
        <span class="chart-data">30.8</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
         
     </g>
    </svg>
</div>

<div class="circle-chart css">
    <div class="text">
        <h2>Marco Rubio</h2>
        <span class="chart-data">12.4</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
<div class="circle-chart css">
    <div class="text">
        <h2>John Kasich</h2>
        <span class="chart-data">12.2</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
<div class="circle-chart css">
    <div class="text">
        <h2>Ted Cruz</h2>
        <span class="chart-data">11.3</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
<div class="circle-chart css">
    <div class="text">
        <h2>Chris Christie</h2>
        <span class="chart-data">9.6</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
<div class="circle-chart css">
    <div class="text">
        <h2>Jeb Bush</h2>
        <span class="chart-data">8.2</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
<div class="circle-chart css">
    <div class="text">
        <h2>Rand Paul</h2>
        <span class="chart-data">4.5</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
<div class="circle-chart css">
    <div class="text">
        <h2>Carly Fiorina</h2>
        <span class="chart-data">3.7</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
<div class="circle-chart css">
    <div class="text">
        <h2>Ben Carson</h2>
        <span class="chart-data">1.8</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
<div class="circle-chart css">
    <div class="text">
        <h2>Mike Huckabee</h2>
        <span class="chart-data">0.5</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
<div class="circle-chart css">
    <div class="text">
        <h2>Rick Santorum</h2>
        <span class="chart-data">0.3</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
<div class="circle-chart css">
    <div class="text">
        <h2>Jim Gilmore</h2>
        <span class="chart-data">0.0</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
         <circle id="circle" class="circle_animation full" />
      <circle id="circle" class="circle_animation PC" />
     </g>
    </svg>
</div>
    <p class="source"><em>Data retrieved from <a href="http://elections.huffingtonpost.com/pollster/2016-new-hampshire-presidential-republican-primary" target="_blank">Huffington Post</a> on 24 Jan, 2016</em></p>
</div>