<div id="c" class="map">
  <div class="map-img">
    <img class="floor" src="assets/img/floor_plan_C (1).jpg" />
    <img class="ITD421 path" src="assets/img/ITD_C.png" />
    <img class="ITD423 path" src="assets/img/ITD423_C.png" />
    <img class="ITC107 path" src="assets/img/ITC107_C.png" />
    <img class="GC106 path" src="assets/img/GC106_C.png" />
    <img class="GC124 path" src="assets/img/GC124_C.png" />
    <img class="GC128 path" src="assets/img/GC128_C.png" />
    <img class="GE124 path" src="assets/img/GE124_C.png" />
  </div>
  <div class="controls">
    <h1>C Level</h1>
    <div class="nav-arrows">
      <button class="map-change" data-floor="#d">Up</button>
      <button class="map-change" disabled>Down</button>
    </div>
  </div>
</div>
