<div id="e" class="map">
  <div class="map-img">
    <img class="floor" src="assets/img/floor_plan_E (1).jpg" />
    <img class="ITD421 path" src="assets/img/ITD_E.png" />
    <img class="ITD423 path" src="assets/img/ITD423_E.png" />
    <img class="ITC107 path" src="assets/img/ITC107_DE.png" />
    <img class="GC106 path" src="assets/img/GC106_DE.png" />
    <img class="GC124 path" src="assets/img/GC124_DE.png" />
    <img class="GC128 path" src="assets/img/GC128_DE.png" />
    <img class="GE124 path" src="assets/img/GE124_E.png" />
  </div>
  <div class="controls">
    <h1>E Level</h1>
    <div class="nav-arrows">
      <button class="map-change" disabled>Up</button>
      <button class="map-change" data-floor="#d">Down</button>
    </div>
  </div>
</div>
