// colors
$primary:   #0066ba;
$accent:    #f55b5b;

$dark:      #4A4A4A;
$light:     #C8C8C8;
$bg:        #E8E8E8;

$a:         #4099FF;
$b:         #3B5998;
$c:         #4099FF;
$d:         #3B5998;
$a:         #4099FF;
$e:         #3B5998;
