#home {
  height: 100vh;
  display: flex;
  .main-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    .menu-item {
      display: flex;
      background: $light;
      flex-grow: 1;
      width: 100%;


      img {
        display: block;
        margin: auto;
        height: 5em;
      }

      h1 {
        display: block;
        text-align: center;
      }

      a {
        width: 100%;
        display: block;
        background: white;
        flex-grow: 1;
        padding: 2em;
        margin: 10px;
        clear: both;
        float: left;
        box-shadow: 0 0 10px rgba($dark, 0.5);
      }



      &.active {
        a {
          background: $light;
        }
      }
    }
  }
}
